.footer{
   background:var(--bg);
    color:var(--text);
    padding:70px 0 20px;
}

.footer-logo{
    font-size:38px;
    font-weight:700;
}

.footer-logo span{
    color:#8B5CF6;
}

.footer p{
    color:#94A3B8;
    line-height:1.8;
}

.footer h4{
    color:#8B5CF6;
    margin-bottom:20px;
}

.footer-links{
    list-style:none;
    padding:0;
}

.footer-links li{
    margin-bottom:12px;
}

.footer-links a{
    color:#CBD5E1;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:#8B5CF6;
    padding-left:8px;
}

.footer-social a{
    width:50px;
    height:50px;
    background:#1E293B;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:white;
    margin-right:15px;
    font-size:22px;
    transition:.3s;
}

.footer-social a:hover{
    background:#8B5CF6;
    transform:translateY(-6px);
}

hr{
    border-color:#334155;
    margin:40px 0 20px;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    margin:0;
}

.top-btn{
    width:45px;
    height:45px;
    background:#8B5CF6;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    text-decoration:none;
    transition:.3s;
}

.top-btn:hover{
    transform:translateY(-5px);
    background:#A855F7;
}

@media(max-width:991px){

.footer{
    text-align:center;
}

.footer-bottom{
    flex-direction:column;
    gap:20px;
}

.footer-social{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-links{
    margin-bottom:20px;
}

}